div class="reviewbody">
<div class="homerow">
    <p><a href="#">Home</a></p>
    <p><a href="#">About</a></p>
    <p><a href="#">TheReviews</a></p>
    <p><a href="#">FAQs</a></p>
</div>
    <div class = "review-content">
        <form action="/login" method="post" id="login-form">

                <p id="restau-name"><a href="/viewRestaurant/{{this._id}}/{{#if ../loggedIn}}logged/{{../user_id}}{{/if}}">{{this.name}}</a></p>
                <h1>{{resto}}</h1>
                <div class="input-review">
                <input class = "inputreview" type="review" placeholder="What can you say about the restaurant?" id="inputrev" name="inputrev" required>
                </div>

                <div class="input-rating">
                <input class = "inputrating" type="rating" placeholder="What is your rating from 1-5?" id="inputrat" name="inputrat" required>
                </div>

                <div class="input-image">
                <p> Do you have images you want to attach? </p>
                <button class = revimg> Attach here </button>

        </form> 
    </div>
</div>