<div class="editpro">
    <div class="overlay-container">
        <div class="profile-info">
            <div class="pic-container">
                <div class="plus-sign">
                    <img src="/images/hover3.png" alt="plussign" id="plushover" onmouseover="plusShow()" onmouseleave="plusRemove()">
                </div>
                <div class="profile-picture" onmouseover="plusShow()" onmouseleave="plusRemove()">
                    <img src="avatar.jpg" alt="Profile Picture">
                </div>
            </div>
            <div class="user-details">
                <div class="user">
                    <input class = "username" type="username" placeholder="Input your username" id="username" name="username">
                </div>
            </div>
            <div class="desc">
                <input class = "description" type="description" placeholder="What can you say about yourself?" id="description" name="description">
                
            </div>
            <div class="save">
                save
            </div>
        </div>
    </div>
</div>